<h1 class='page-header'>Calls</h1>

<ul class='main-list'>
  <% @calls.each do |call| %>
    <li>
      <a href="<%= call_details_path(call) %>"><p><%= call.from %></p></a>
      <% if call.status %>
        <div>Last Call Status: <%= call.status %></div>
      <% end %>
      <% if call.duration %>
        <div>Call Lasted: <%= call.duration %> seconds</div>
      <% end %>
      <% if call.voicemail %>
        <audio controls>
          <source src='<%= call.voicemail.link %>' type="audio/mpeg">
        </audio>
      <% end %>
    </li>
  <% end %>
</ul>
